includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - database/
        - modules/

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#^Class Modules\\AppointmentBooking\\Entities\\Appointment constructor invoked with 5 parameters, 4 required\.$#'

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php